.mainvisual img {
  height: 600px;
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
}
ul {
  padding: 0;
  margin: 0;
}
div {
  display: block;
}
img {
  max-width: 100%;
  border-style: none;
}
li,
a {
  list-style: none;
  float: left;
  padding: 10px;
  margin: 10px;
}
a {
  color: inherit; /* テキスト色を親要素に合わせる */
  text-decoration: none; /* 下線を消す */
  cursor: default; /* マウスカーソルを通常矢印に */
  /* pointer-events: none; */
}
.header-left {
  background-color: rgb(60, 60, 60);
  font-size: 30px;
  color: white;
  font-family: "Lucida Grande";
  float: left;
}
.header-right {
  float: right;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.About content {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.About h2 {
  padding-top: 50px;
  font-size: 30px;
  color: rgb(70, 70, 70);
  width: 100px;
  text-align: center;
  /* display: inline-block; */
  border-bottom: 1px solid #333;
  margin: 50px auto;
}

.About img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  margin-right: 50px;
  margin-left: 100px;
  height: 100px;
  width: auto;
  /* float: left; */
}

.mainvisual {
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
}
ul {
  padding: 0;
  margin: 0;
}
div {
  display: block;
}
img {
  max-width: 100%;
  border-style: none;
}
li {
  list-style: none;
  float: left;
  padding: 10px;
  margin: 10px;
}
.header-left {
  background-color: rgb(60, 60, 60);
  font-size: 30px;
  color: white;
  font-family: "Lucida Grande";
  float: left;
}
.header-right {
  float: right;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text h3 {
  margin-top: 0px;
  text-align: left;
}

.text p {
  margin: 0px;
}

.About content {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.About h2 {
  padding-top: 50px;
  font-size: 30px;
  color: rgb(70, 70, 70);
  width: 100px;
  text-align: center;
  /* display: inline-block; */
  border-bottom: 1px solid #333;
  margin: 50px auto;
}

.About img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  margin-right: 50px;
  margin-left: 100px;
  height: 100px;
  width: auto;
  /* float: left; */
}

.Bycycle {
  justify-content: center;
}

.Bycycle h2 {
  padding-top: 50px;
  font-size: 30px;
  color: rgb(70, 70, 70);
  width: 130px;
  text-align: center;
  /* display: inline-block; */
  border-bottom: 1px solid #333;
  margin: 50px auto;
}

.Bycycle img {
  height: 150px;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.Bycycle ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Bycycle li {
  float: none;
}

.Bycycle h2 {
  padding-top: 50px;
  font-size: 30px;
  color: rgb(70, 70, 70);
  width: 130px;
  text-align: center;
  /* display: inline-block; */
  border-bottom: 1px solid #333;
  margin: 50px auto;
}

.Bycycle img {
  height: 150px;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.Bycycle h3,
.Bycycle p {
  text-align: center;
}
